[Unit]
Description=Synchronize data partition to backup location
After=local-fs.target multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/databackup
